___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [15]:
import pandas as pd
#df = pd.read_csv('pokemon_data.csv')

#print(df.head(5))

#df_xlsx = pd.read_excel('pokemon_data.xlsx')
#print(df_xlsx.head(3))

** Read Salaries.csv as a dataframe called sal.**

In [ ]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [ ]:
sal

** Use the .info() method to find out how many entries there are.**

In [9]:
sal.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 148654 entries, 0 to 148653

Data columns (total 13 columns):

Id                  148654 non-null int64

EmployeeName        148654 non-null object

JobTitle            148654 non-null object

BasePay             148045 non-null float64

OvertimePay         148650 non-null float64

OtherPay            148650 non-null float64

Benefits            112491 non-null float64

TotalPay            148654 non-null float64

TotalPayBenefits    148654 non-null float64

Year                148654 non-null int64

Notes               0 non-null float64

Agency              148654 non-null object

Status              0 non-null float64

dtypes: float64(8), int64(2), object(3)

memory usage: 14.7+ MB

**What is the average BasePay ?**

In [10]:
sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [11]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [12]:
name = sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

job_title = name['JobTitle']

print(job_title)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [13]:
total_pay = name['TotalPayBenefits']
print(total_pay)

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [14]:
highest_paid_df = sal['TotalPayBenefits'].idxmax()

highest_paid_person = sal.loc[highest_paid_df, 'EmployeeName']

print(highest_paid_person)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
lowest_paid_df = sal['TotalPayBenefits'].idxmin()

lowest_paid_person = sal.loc[lowest_paid_df, 'EmployeeName']

lowest_pay = sal.loc[lowest_paid_df, 'TotalPayBenefits']

print(lowest_paid_person, ": ", lowest_pay)

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [16]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [17]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [18]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [19]:
year_2013 = sal[sal['Year']==2013]

title_count = year_2013['JobTitle'].value_counts()

one_person_job_titles = (title_count == 1).sum()

print(one_person_job_titles)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [20]:
num = sal['JobTitle'].str.contains('Chief', case=False).sum()


print(num)

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [22]:
sal['JobTitleLength'] = sal['JobTitle'].apply(len)

sal['JobTitleLength'].corr(sal['TotalPayBenefits'])

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!